@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/IRANSans-web.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}